In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('avocado.csv')
df

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18244,7,2018-02-04,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,organic,2018,WestTexNewMexico
18245,8,2018-01-28,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,organic,2018,WestTexNewMexico
18246,9,2018-01-21,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico
18247,10,2018-01-14,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico
18248,11,2018-01-07,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico

In [2]:
#Checking for missing values in the DataFrame
df.isnull().sum()

Unnamed: 0      0
Date            0
AveragePrice    0
Total Volume    0
4046            0
4225            0
4770            0
Total Bags      0
Small Bags      0
Large Bags      0
XLarge Bags     0
type            0
year            0
region          0
dtype: int64

In [3]:
# Removing the region and Date features from the DataFrame
df.drop(['region', 'Date'], axis = 1, inplace = True)
df

,Unnamed: 0,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year
0,0,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015
1,1,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015
2,2,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015
3,3,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015
4,4,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015
...,...,...,...,...,...,...,...,...,...,...,...,...
18244,7,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,organic,2018
18245,8,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,organic,2018
18246,9,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,organic,2018
18247,10,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,organic,2018
18248,11,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,organic,2018

In [4]:
#Scaling the nesscary Data

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df.iloc[:, 2:9] = scaler.fit_transform(df.iloc[:, 2:9])
df

,Unnamed: 0,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year
0,0,1.33,-0.227716,-0.230816,-0.199902,-0.212091,-0.234170,-0.232647,-0.222352,0.0,conventional,2015
1,1,1.35,-0.230427,-0.231103,-0.208054,-0.211997,-0.233350,-0.231568,-0.222335,0.0,conventional,2015
2,2,0.93,-0.212085,-0.231007,-0.154478,-0.211325,-0.234730,-0.233399,-0.222311,0.0,conventional,2015
3,3,1.08,-0.223444,-0.230741,-0.185350,-0.211864,-0.237096,-0.236568,-0.222186,0.0,conventional,2015
4,4,1.28,-0.231538,-0.230891,-0.208719,-0.211834,-0.236718,-0.236154,-0.221924,0.0,conventional,2015
...,...,...,...,...,...,...,...,...,...,...,...,...
18244,7,1.63,-0.241373,-0.230017,-0.243857,-0.212540,-0.229301,-0.226665,-0.220964,0.0,organic,2018
18245,8,1.71,-0.242296,-0.230693,-0.242277,-0.212540,-0.233594,-0.232196,-0.221403,0.0,organic,2018
18246,9,1.87,-0.242331,-0.230693,-0.243090,-0.205766,-0.233463,-0.231644,-0.222561,0.0,organic,2018
18247,10,1.93,-0.241625,-0.230428,-0.242651,-0.205774,-0.231866,-0.229543,-0.222529,0.0,organic,2018
18248,11,1.62,-0.241253,-0.229347,-0.243170,-0.210450,-0.230807,-0.228111,-0.222628,0.0,organic,2018

In [5]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

#Encodes the Company column
df['type'] = le.fit_transform(df['type'])
df

,Unnamed: 0,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year
0,0,1.33,-0.227716,-0.230816,-0.199902,-0.212091,-0.234170,-0.232647,-0.222352,0.0,0,2015
1,1,1.35,-0.230427,-0.231103,-0.208054,-0.211997,-0.233350,-0.231568,-0.222335,0.0,0,2015
2,2,0.93,-0.212085,-0.231007,-0.154478,-0.211325,-0.234730,-0.233399,-0.222311,0.0,0,2015
3,3,1.08,-0.223444,-0.230741,-0.185350,-0.211864,-0.237096,-0.236568,-0.222186,0.0,0,2015
4,4,1.28,-0.231538,-0.230891,-0.208719,-0.211834,-0.236718,-0.236154,-0.221924,0.0,0,2015
...,...,...,...,...,...,...,...,...,...,...,...,...
18244,7,1.63,-0.241373,-0.230017,-0.243857,-0.212540,-0.229301,-0.226665,-0.220964,0.0,1,2018
18245,8,1.71,-0.242296,-0.230693,-0.242277,-0.212540,-0.233594,-0.232196,-0.221403,0.0,1,2018
18246,9,1.87,-0.242331,-0.230693,-0.243090,-0.205766,-0.233463,-0.231644,-0.222561,0.0,1,2018
18247,10,1.93,-0.241625,-0.230428,-0.242651,-0.205774,-0.231866,-0.229543,-0.222529,0.0,1,2018
18248,11,1.62,-0.241253,-0.229347,-0.243170,-0.210450,-0.230807,-0.228111,-0.222628,0.0,1,2018

In [6]:
x_columns = 12
X = df.iloc[:, 2:x_columns].values
y = df['AveragePrice'].values
y

from sklearn.model_selection import train_test_split
train_ratio = 0.80
test_ratio = 0.20
validation_ratio = 0.5

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = test_ratio)
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size = validation_ratio)
# print(X_train.shape)
# print(X_test.shape)
# print(X_valid.shape)
y

array([1.33, 1.35, 0.93, ..., 1.87, 1.93, 1.62])

In [7]:
k = [2,3,4,15,20]

scores = []
from sklearn.neighbors import KNeighborsRegressor
for i in k:
    k_model = KNeighborsRegressor(n_neighbors = i)
    k_model.fit(X_train, y_train)
    y_pred = k_model.predict(X_test)
    y_pred
    k_score = k_model.score(X_valid, y_valid)
    scores.append(k_score)
    score_k = max(scores)

bestK = scores.index(max(scores))
print(f'The bestscore is {score_k} with k index at {bestK}')

The bestscore is 0.5867397611028465 with k index at 3

In [8]:
from sklearn.metrics import r2_score
model = KNeighborsRegressor(n_neighbors=15)
model.fit(X_train, y_train)
y_pred = model.predict(X_test) 
score = model.score(X_test,y_test)
r2_score=r2_score(y_test,y_pred)
print('r2_score: ',r2_score)

r2_score:  0.600364441404868